* {
    box-sizing: border-box;
}

html {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:100%;
    width:100%;
    height:100%;
}

body {
    margin:0 0;
    width:100%;
    height:100%;
}

header {
    border-bottom:1px solid black;
    height:7%;
}

header div {
    float:left;
}

.divLogo {
    width:3%;
    height:100%;
}

.logo {
    width:96%;
    padding-top:6px;
    padding-left: 5px;
}

.barra {
    margin-left:30px;
    margin-top:18px;
    padding:6px;
    padding-right:60px;
}

.divCareto {
    float:right;
    width:2.7%;
    height:100%;
    margin-right:50px;
}

.careto {
    width:100%;
    padding-top:5px;
}

.divMenu {
    float:right;
    font-size:14px;
    width:25%;
    height:100%;
    padding-top:30px;
}

.enlacesMenu {
    padding-left:50px;
    color:black;
    text-decoration: none;
}

main {
    /*border:1px solid black;*/
    height:72%;
    margin:0 20%;
}
/*
.titulo {
    background:blue;
    border:1px solid black;
}
*/
.divFlotante {
    display:flex;
    flex-direction:row;
    align-items:center;

}

.flotante {
    display:inherit;
    height:11%;
    margin-right:20px;
    border:1px solid black;
    border-radius:2px;
    padding-right:30px;
}

.imagenFlotante {
    width:92px;
    height:56px;
}

.textoFlotante {
    font-size:13px;
    text-decoration: none;
    color:black;
    margin-top:20px;
    margin-left:10px;
}

.divImgPrincipal {
    background-image: linear-gradient(rgba(53, 135, 213, 0.2), rgba(53, 135, 213, 0.2)), url("../Recursos/imagenes/visor_index.jpg");
    background-size:100%;
    height:30%;
    width:100%;
    border-radius:6px;
}

.textoImg {
    font-size:12px;
    font-weight:bold;
    padding:6px;
}

.enlaceImg {
    text-decoration:none;
    color:black;
    border:1px solid black;
    border-radius:6px;
    padding:10px 25px;
    font-size:11px;
    font-weight: bold;
    position:relative;
    top:6%;
    left:4%;
}

.imgPrincipal {
    border:1px solid black;
    width:100%;
}

.divFlotante2 {
    display:flex;
    flex-direction:row;
    width:100%;
}

.imagenFlotante2 {
    width:90%;
    border:1px solid rgb(216, 203, 203);
}

.enlace2 {
    text-decoration:none;
    color:black;
}

.textoFlotante2 {
    padding-left:140px;
}

.textoFlotante3 {
    padding-left:32px;
}

.texto1 {
    font-size:10px;
}

.texto2 {
    font-weight:bold;
    font-size:15px;
}

.texto3 {
    font-size:10px;
}

footer {
    border-top:1px solid black;
    display:flex;
    justify-content:center;
}

.footerFlotante {
    padding:1px 20px;
}

.titular {
    color:grey;
}

.divRestoTexto {
    padding-left:10px;
}

.restoTexto {
    color:grey;
    font-size:10px;
}

.imagenRedes {
    padding-top:10px;
}