* {
    box-sizing:border-box;
}

html {
    font-size:100%;
    width:100%;
    height:100%;
    background-image: url("../Recursos/imagenes/2717667.jpg");
    font-family:Arial, Helvetica, sans-serif;
    background-size:cover;

}

body {
    margin: 0 0;
    font-size:100%;
    width:100%;
    height:100%;
    
}

header {
    background:rgb(120,189,169);
    height:6%;
    font-variant-caps: small-caps;
}

.divHeader {
    display:flex;
    justify-content:center;
}

.enlaceMenu {
    padding: 10px 25px;
}

.txtEnlaceMenu {
    text-decoration:none;
    color:black;
    font-size:16px;
    font-weight:bold;
}

a.active {
    background-color:rgb(32,161,125);
}

a:hover:not(.active) {
    background-color: rgb(239,156,56);
}

main {
    
    width:50%;
    height:75%;
    margin-left:330px;
    background-color:white;
}

main div spam {
    color:rgb(220, 20, 203);
}

.cabeceraMain {
    margin-bottom:5px;
    padding-bottom:0px;
    border-bottom:1px solid grey;
    /*background:blue;*/
    display:flex;
    align-items:center;
    height:15%;
}

.titularCabeceraMain {
    margin-left:40px;
    margin-top:15px;
}

.barra {
    margin-left:240px;
    margin-top:15px;
}

.contenedorCentral {
    /*background:blue;*/
    
    margin:5%;
    width:89%;
    height:60%;
    display:flex;
}

.contenedorIzq {
    
    height:100%;
    width:60%;
}

.titularContIzq {
    /*background:blue;*/
    font-size:15px;
    margin-top:5px;
}

.titularContDer {
    font-size:15px;
}

.olaIzq {
    background-image:url("../Recursos/imagenes/img03.jpg");
    width:90%;
    height:30px;
}

.olaDer {
    background-image:url("../Recursos/imagenes/img03.jpg");
}

.mapa {
    margin:0 2%;
    height:70%;
    margin-top:10px;
    width:90%;
}

.pieArticulo {
    font-size:8px;
    text-align:right;
    margin-right:2%;
    border-top:1px solid grey;
    border-bottom:1px solid grey;
    padding:1%;
}

.contenedorDer {
    /*background:green;*/
    border:1px solid black;
    height:100%;
    width:40%;
}

.derArriba {
    
    height:40%;
    padding:6%;
}

.derAbajo {
    
    height:20%;
    padding:6%;
}

.datosContacto {
    font-size:10px;
}

footer {
    background:black;
    border:1px solid black;
    display:flex;
    height:20%;
    justify-content:center;
}

.columnaFooter {
    border:1px solid;
    padding:10px;
    margin:0 15px;
}

.titularFooter {
    color:white;
    border-bottom:1px solid white;
    font-size:12px;
}

.enlaceFooter {
    text-decoration:none;
    color:white;
    font-size:10px;
}