@font-face {
    font-family:work;
    src: url("Elementos/work.ttf");
}

body {
    background-color:#333;
    color:#731600;
    font-family:work;
}

.contenedor {
    max-width: 35vw;
    /* border: 3px solid white; */
    margin: auto;
    background-image: url(Elementos/fondo21.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

header {
    padding-top: 1%;
    margin: auto;
    max-width: 30vw;
    /* border: 3px solid white; */
    border-bottom: 1vw double #731600;
}

.header_tittle {
    font-size: 4vw;
}

.header_subtittle {
    font-size: 3vw;
}

.main_container_image {
    margin: auto;
    max-width: 30vw;
    /* border: 3px solid white; */
}

.main_image {
    width:40%;
    height:40%;
}

.footer {
    max-width: 30vw;
    margin: auto;
    border-top: 1vw double #731600;
    /* border: 3px solid white; */
}

.footer_text {
    font-size: 3vw;
}

span.vivo {
    text-decoration: line-through;
    text-decoration-color: #731600;
    text-decoration-thickness: 0.5em;
}