html {
    background-image:url(../imagenes/fondo.png);
    background-size:cover;
}

body {
    background-color: #D0D8E9;
    font-size:100%;
}

.contenedor {
    display: flex;
    justify-content: center;
}

.div-1 {
    font-family: Tahoma;
    font-size: 0.85em;
    color:#3B5998;
    text-align: justify;
}

.div-2, h1 {
    text-align:center;
}

.cursiva {
    font-style: italic;
}

[href] {
    text-decoration: none;
    font-weight:bold;
}