body {
    display:flex;
    justify-content: center;
}

.contenedor {
    text-align:justify;     
}

h1 {
    font-family:Arial, Helvetica, sans-serif;
    font-size:3em;
    color:#678d45d6;
    position:relative;
    right:50px;
    top: 45px;
    z-index:1;
}

table, td {
    border: 3px;
    border-color:white;
    border-style: ridge;
    border-collapse: collapse;
    text-align: right;
}

table {
    border-style:none none;
}

th {
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 200;
    color:darkgrey;
    font-size: 70%;
    height: 1.4em;
    background-color:none;
}

td {
    font-size: 300%;
    color:rgb(198, 216, 144);
    height: 1.2em;
    padding-left: 90px;
}

table colgroup col:nth-child(6) {
    background-color: #678d45d6;
}

table colgroup col:nth-child(7) {
    background-color: #678d45d6;
}

img {
    width:340px;
    position:relative;
    bottom: 70px;
    right: 190px;  
}

.tabla {
    position:relative;
    bottom:290px;
}

.blanco {
    background-color:white;
}